.Hero {
    height: 30rem;
    background: repeating-radial-gradient(ellipse at 50% 74%,
                    hsla(0, 0%, 0%, 50%) 0 20%,
                    hsla(265, 20%, 17%, 80%) 20% 40%),
                linear-gradient(180deg, 
                    hsla(265, 20%, 17%, 100%) 0 25%,
                    black 25% 75%,
                    hsla(265, 20%, 17%, 100%) 75% 100%);
    align-content: center;
    justify-items: center;
    margin: 2rem 15rem;
}

